:root {
  --primary-color: #272142;
  --accent-color: #9c89f5;
}

.About h4 {
  color: white;
}

.About h1 {
  color: var(--accent-color);
  font-size: 52px;
  margin: 17px 0;
}

.About h3 {
  color: var(--accent-color);
}

.About nav {
  padding: 20px;
  text-align: right;
  font-size: 18px;
}

.navigation {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navigation:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.About .active {
  color: var(--accent-color);
}

.About p {
  color: white;
  line-height: 31px;
  margin-top: 24px;
  max-width: 90%;
}

.About .row {
  max-width: 80%;
  margin: 70px auto;
}

.About img {
  border-radius: 10px;
  border: 1px solid white;
}
