:root {
  --primary-color: #272142;
  --accent-color: #9c89f5;
}

.About h4 {
  color: var(--accent-color);
  font-size: 48px;
  font-weight: light;
}

.About h1 {
  color: white;
  font-size: 60px;
  margin: 17px 0;
  font-family: montserrat;
}

.About nav {
  padding: 20px;
  text-align: right;
  font-size: 18px;
}

.navigation {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navigation:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.About .active {
  color: var(--accent-color);
}

.About p {
  color: white;
  line-height: 31px;
  margin-top: 30px;
  max-width: 90%;
  font-size: 18px;
  font-weight: 300;
}

.About .row {
  max-width: 80%;
  margin: 50px auto;
  margin-bottom: 70px;
}

.About img {
  border-radius: 10px;
  border: 1px solid white;
}

.About .break {
  background-color: var(--primary-color);
  padding: 40px;
  text-align: center;
}

.About .returnHome {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: montserrat;
  background-color: #9c89f5;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

@media (max-width: 992px) {
  .About h4 {
    font-size: 36px;
    text-align: center;
  }

  .About h1 {
    font-size: 48px;
    margin: 17px 0;
    text-align: center;
  }

  .About nav {
    padding: 16px;
    font-size: 16px;
  }

  .About p {
    display: block;
    line-height: 27px;
    margin: 30px auto;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
  }

  .About .row {
    margin: 30px auto;
    margin-bottom: 50px;
  }

  .About img {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .About h1 {
    font-size: 40px;
  }
  .About img {
    max-width: 100%;
  }
}
