:root {
  --primary-color: #272142;
  --accent-color: #9c89f5;
}

.About h2,
h4,
h3 {
  color: var(--accent-color);
}

.About h1 {
  color: white;
}

.About nav {
  padding: 20px;
  text-align: right;
}

.navigation {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navigation:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.About p {
  color: white;
}

.About .row {
  max-width: 90%;
  margin: 30px auto;
}
