:root {
  --primary-color: #272142;
  --accent-color: #9c89f5;
}

.Home h1 {
  color: white;
  font-size: 96px;
}

.Home h3 {
  color: var(--accent-color);
  font-size: 36px;
}

.Home nav {
  padding: 20px;
  text-align: right;
}

.navigation {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navigation:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.Home header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 150px 0;
}

.Home .btn {
  background-color: var(--accent-color);
  color: white;
  padding: 13px 30px;
  font-size: 22px;
}

.Home .btn-branded {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  font-size: 16px;
  margin-top: 10px;
}

.Home main > p {
  color: white;
  text-align: center;
  margin: 35px 0;
  font-size: 20px;
}

.Home .footLink {
  margin: 30px;
  color: var(--accent-color);
}
