:root {
  --primary-color: #272142;
  --accent-color: #9c89f5;
}

.Home h1 {
  color: white;
  font-size: 96px;
}

.Home h2 {
  color: white;
  font-size: 40px;
}

.Home h3 {
  color: var(--accent-color);
  font-size: 30px;
}

.Home nav {
  padding: 20px;
  text-align: right;
  font-size: 18px;
}

.navigation {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navigation:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.Home .active {
  color: var(--accent-color);
}

.Home header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 150px 0;
}

.Home .btn {
  background-color: var(--accent-color);
  color: white;
  padding: 13px 30px;
  font-size: 20px;
  font-family: montserrat;
  transition: all 100ms ease-in-out;
}

.Home .btn:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
}

.Home .btn-branded {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  font-size: 16px;
  margin-top: 10px;
  font-family: montserrat;
  transition: all 100ms ease-in-out;
}

.Home .btn-branded:hover {
  background-color: var(--accent-color);
}

.Home main > p {
  color: white;
  text-align: center;
  font-size: 17px;
  margin: 50px auto;
}

.Home .footLink {
  margin: 30px;
  color: var(--accent-color);
}

.Home a.email {
  font-size: 22px;
  display: block;
  margin: 50px auto 0;
  text-align: center;
  color: white;
  text-decoration: none;
}

@media (max-width: 992px) {
  .Home .btn-branded {
    font-size: 13px;
  }

  .Home .btn {
    font-size: 14px;
  }

  .Home h1 {
    font-size: 68px;
  }

  .Home h2 {
    font-size: 30px;
  }

  .Home h3 {
    font-size: 18px;
  }

  .Home nav {
    padding: 16px;
    font-size: 16px;
  }

  .Home header {
    padding: 50px 0;
  }

  .Home main > p {
    font-size: 15px;
    margin: 50px auto;
  }
}

@media (max-width: 767px) {
  .Home h1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .Home main > p {
    font-size: 15px;
    margin: 28px 5px;
  }

  .Home a.email {
    font-size: 16px;
  }

  .Home .footLink {
    margin: 15px;
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .Home h1 {
    font-size: 44px;
  }
}
