.ContactBanner {
  text-align: right;
  background-color: var(--primary-color);
  padding: 45px;
}

.ContactBanner h5 {
  color: white;
  font-size: 24px;
}

.ContactBanner h4 {
  color: var(--accent-color);
  font-size: 35px;
}
.ContactBanner .btn {
  margin-top: 10px;
}
