:root {
  --primary-color: #272142;
  --accent-color: #9c89f5;
}

.CurrentWorkSection {
  max-width: 80%;
  margin: 0 auto 60px;
}

.CurrentWorkSection h4 {
  color: white;
  font-size: 36px;
}

.CurrentWorkSection p {
  color: white;
  margin-top: 15px;
  line-height: 27px;
  font-weight: 300;
  display: block;
  max-width: 550px;
}

.CurrentWorkSection img {
  border-radius: 2px;
}

.CurrentWorkSection .description {
  margin-top: 20px;
  margin-left: 20px;
}

.CurrentWorkSection .row {
  display: flex;
}

.image-right {
  order: 1;
}
