:root {
  --primary-color: #272142;
  --accent-color: #9c89f5;
}

.CurrentWorkSection {
  width: 90%;
  margin: 90px auto;
}

.CurrentWorkSection .btn-branded {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
}

.CurrentWorkSection p {
  color: white;
}
